<%- include('partials/header') %>
<main class="container">
    <h2><%= pageTitle %></h2>
    <div class="category-list">
        <ul>
            <% categories.forEach(function(category) { %>
                <li><%= category.category_name %></li>
            <% }) %>
        </ul>
    </div>
</main>
<%- include('partials/footer') %>