<%- include('partials/header') %>
<main class="container">
    <h2>Welcome to <%= pageTitle %></h2>
    <p>This is the initial site creation for CSE 340. We connect people with meaningful service opportunities.</p>
</main>
<%- include('partials/footer') %>