<%- include('partials/header') %>
<main class="container">
    <h2><%= pageTitle %></h2>
    <p>Here are some of the wonderful organizations we work with.</p>
    
    <img src="/images/voluntarios.jpg" alt="Equipe de voluntários" style="max-width: 100%; border-radius: 8px;">

</main>
<%- include('partials/footer') %>