<%- include('partials/header') %>
<main class="container">
    <h2><%= pageTitle %></h2>
    <p>Discover our current ongoing service projects and find out how you can help.</p>
</main>
<%- include('partials/footer') %>